#meet-lexa {
  background-image: url(../imgs/brooke-cagle-stock-image.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#budget-app {
  /*background-image: url(../imgs/section2-placeholder.jpg);*/
  background-color: #A0A0A0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#bolt {
  /*background-image: url(../imgs/section3-placeholder.jpg);*/
  background-color: #B0B0B0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#sustaining-good {
  background-image: url(../imgs/sg-mockup-green.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#branding {
  background-image: url(../imgs/lexa-wakefield-branding-string-and-story.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#print {
  background-image: url(../imgs/lexa-wakefield-print-work-beer-labels.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.social {
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  color: black;
  margin: 0;
  padding-top: 2%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: black;
}

nav {
  float: left;
  text-align: center;
  position: fixed;
  top: 35%;
  z-index: 999999;
  display: block;
}

#number-nav {
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

li a {
  color: black;
  text-decoration: none!important;
}

li a:hover {
  color: #024887;
  text-decoration: none;
}

.nav-active {
  color: #e7c9bd;
  text-decoration: line-through;
}
.nav-active a {
  text-decoration: none;
  color: #e7c9bd;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  max-width: 250px;
  margin: 15px auto 0;
  display: block;
}
.container {
  height: 100vh;
  position: relative;
}

#instagram-icon, #linkedin-icon, #dribbble-icon {
  max-width: 8%;
  padding: .25%;
  margin-top: 2%;
}
#back-to-top {
  text-align: center;
}
.centered {
    width: 100%;
    text-align: center;
    padding-right: 6%;
    position: absolute;
    bottom: 3%;
}
#triangle {
  max-height: 3%;
  max-width: 3%;
}
a {
  color: black;
}
a:hover {
  color: #024887;
  text-decoration: none;
}

.all-caps {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.portfolio .container .row {
    position: relative;
    top: 97%;
    transform: translateY(-100%);
}

#meet-lexa .container .row {
    position: relative;
    top: 80%;
    transform: translateY(-100%);
}
#contact-buttons {
  margin-top: 2%;
}

.hidden-image {
  display: none;
}
#hidden-img {
  display: none;
}

/*for the form*/

body {
  height: 100vh;
  background-color: #e7c9bd;
  overflow-x: hidden;
}
h2 {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: black;
  margin: 0;
}
label {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
}

.row .centered {
  text-align: center;
}

  /*media queries*/

@media only screen and (max-width: 900px) {

nav {
    float: left;
    text-align: center;
    position: fixed;
    top: 10%;
    z-index: 999999;
    display: block;
  }
#number-nav {
  padding-left: 50%;
  text-align: center;
  }

#triangle {
  max-height: 6%;
  max-width: 6%;
}
.portfolio .container .row {
    position: relative;
    top: 94%;
    transform: translateY(-100%);
}
/*.container {
  background-color: rgba(255, 255, 255, 0.6);
}*/

#meet-lexa .container {
  height: 100vh;
}
#instagram-icon, #linkedin-icon, #dribbble-icon {
  max-width: 14%;
  padding: 1%;
  margin-top: 4%;
}
 #print {
   background-image: none;
   background-color: white;
 }
 .hidden-image {
   display: block;
   max-width: 100%;
 }
 #hidden-img {
   display: flex;
   max-width: 100%;
 }

}
