#meet-lexa {
  background-image: url(../imgs/section1-placeholder.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#budget-app {
  background-image: url(../imgs/section2-placeholder.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#bolt {
  background-image: url(../imgs/section3-placeholder.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#sustaining-good {
  background-image: url(../imgs/section4-placeholder.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#branding {
  background-image: url(../imgs/section5-placeholder.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#print {
  background-image: url(../imgs/section6-placeholder.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.social {
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  color: black;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: black;
}

nav {
  float: left;
  text-align: center;
  position: fixed;
  top: 35%;
  z-index: 999999;
  display: block;
}

#number-nav {
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

li a {
  color: black;
}

li a:hover {
  color: white;
}

li a:active {
  color: green;
  text-decoration: line-through;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  max-width: 250px;
  margin: 15px auto 0;
  display: block;
}
.container {
  height: 100vh;
}

#instagram-icon, #linkedin-icon, #dribbble-icon {
  max-width: 8%;
  padding: .25%;
  margin-top: 2%;
}
.all-caps {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.portfolio .container {
  display: flex;
  align-items: flex-end;
  padding-bottom: 3%;
}
